importFrom("methods","setRefClass")
export(CalcAddon)
export(CalcEAD)
export(CalcPFE)
export(CalcRC)
export(ExampleComm)
export(ExampleCredit)
export(ExampleFX)
export(ExampleIRD)
export(ExampleIRDCredit)
export(LoadSupervisoryData)
export(Commodity)
export(CreditIndex)
export(CreditSingle)
export(FXSwap)
export(IRDSwap)
export(IRDSwaption)
importFrom("methods", "new")
importFrom("methods", "is")
importFrom("utils", "read.csv")
export(CSA)
export(ExampleIRDCommMargined)
export(ExampleBasisVol)
export(IRDSwapVol)
export(CommSwap)
