importFrom("methods","setRefClass")
importFrom("methods", "getClassDef")
export(CalcAddon)
export(CalcEAD)
export(CalcPFE)
export(CalcRC)
export(ExampleComm)
export(ExampleCredit)
export(ExampleFX)
export(ExampleIRD)
export(ExampleIRDCredit)
export(LoadSupervisoryData)
importFrom("methods", "new")
importFrom("methods", "is")
importFrom("utils", "read.csv")
importFrom("Trading", "CSA")
importFrom("Trading", "Collateral")
importFrom("Trading", "GetTradeDetails")
importFrom("Trading", "IRDSwap")
importFrom("Trading", "CommSwap")
importFrom("Trading", "IRDSwapVol")
importFrom("Trading", "Commodity")
importFrom("Trading", "CreditSingle")
importFrom("Trading", "CreditIndex")
importFrom("Trading", "FXSwap")
importFrom("Trading", "IRDSwaption")
importFrom("Trading", "ParseTrades")
importFrom("jsonlite", "toJSON")
export(ExampleIRDCommMargined)
export(ExampleBasisVol)
importFrom("data.tree", "Node")
export(SingleTradeAddon)
export(SACCRCalculator)
export(CreateTradeGraph)
export(HandleBasisVol)